// Place all the styles related to the emails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#new_email {
    margin-top: 20px;

}

.UnRead {
    background-color: #bdc3c7;
}