// Place all the styles related to the emails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#new_email {
    margin-top: 20px;

}

.UnRead {
    background-color: #bdc3c7;
}

.emails-box {
    margin-top: 50px;
    thead {
        font-size: 1.2em;
        text-decoration: none;
        text-align: center;
    }
}

.bx-mail {
    margin-top: 50px;
}
.box-email {
    font-size: 1.2em;
    .body {
        background-color: #fbfcfd;
        border-top: thick double #cccccc; 
        text-align: left;
        padding: 30px;
    }

}

.load-more {
    display: block;
}