<h1 align="center">Listing all emails received</h1>

<div>
    <table class="table table-condensed table-hover emails-box">
        <thead>
            <tr>
                <th>To</th>
                <td><span class="label pull-right"></span></td>
                <th>Content</th>
                <td><span class="label pull-right"></span></td>
                <th>Status</th>
            </tr>
        </thead>
        <tbody class="container-email">
            <%= render  "email", emails_inbox: @emails_inbox %>
        </tbody>      
    </table>
    <div class="load-more-container">
        <%= link_to "Load More", emails_inbox_path, class: "load-more btn btn-sm btn-primary btn-ex" %>
    </div>
</div>