<div align="center">
        <div style="max-width: 680px; min-width: 500px; border: 2px solid #e3e3e3; border-radius:5px; margin-top: 20px">   
           <div>
               <img src="http://talmanagency.com/wp-content/uploads/2014/12/cropped-logo-new.png" width="250" alt="CREATIVE TALENT MANAGEMENT" border="0"  />
           </div> 
           <div  style="background-color: #fbfcfd; border-top: thick double #cccccc; text-align: left;">
               <div style="margin: 30px;">
                    <p>
                        Dear Candidate,<br> <br>
                        Welcome to Creative Talent Management!<br> <br>
                        We have created an account for you. Here are your details:<br><br>
                    </p>
                    <table style="text-align: left;">
                        <tr>
                            <th>Name</th>
                            <td>: xxx</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>: xxx</td>
                        </tr>
                        <tr>
                            <th>Organization</th>
                            <td>: xxx</td>
                        </tr>
                        <tr>
                            <th>Mobile No</th>
                            <td>: xxx</td>
                        </tr>
                        <tr>
                            <th>Password</th>
                            <td>: xxx</td>
                        </tr>
                    </table>
                    <br>  <br>
                   
                        Here is the link to access your area:<a href='.home_url().' target="_blank">LINK</a><br><br>
                       Please Contact Talent Manager if you have any questions<br><br>
                       Once again, thank you!!!<br><br>
                   
                    <div style="text-align: Right;">
                        With warm regards,<br>
                       Create Talent Management Team
                    </div>
                </div>
           </div>   
       </div>   
   </div>