<div class="container">
    <footer class="footer">
        <small>Copyright &copy; <a href=""> Travel Blog</a> 
            by <a href="https://www.facebook.com/phungvan.dung.1"> Phung Van Dung</a> and <a href="https://www.facebook.com/tewtew13"> Huynh Van Lam</a>
        </small>
       
    </footer>
</div>